body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 15px;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .content {
    margin-left: 0; /* Alterado para 0 */
    padding: 16px;
    transition: margin-left 0.5s; /* Adicionado transição */
  }
  
  .menu-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    background-color: #111;
    color: white;
    z-index: 999;
  }
  
  .menu-btn:hover {
    background-color: #333;
  }
  